.App {
  text-align: center;
}

body {
  background-image: url(https://www.lakeohara.com/drive/uploads/2014/06/20140731_0053.jpg);

}

#compBox{
  width: 80%;
  background-color: cornsilk;
  border: black solid 2px;
  margin: auto;
  padding-top: 15px;
}
#text-box{
  position: center;

}