.App {
  text-align: center;
}

body {
  background-image: url(https://www.lakeohara.com/drive/uploads/2014/06/20140731_0053.jpg);

}

h2{
  color: white;
}

main{
  text-align: center;
}
p{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

#left-image{
  display: block;
  margin-left: auto;
  margin-right:auto;
  border: white dashed 4px;
  width: 200px;

}

#right-image{
  border: white dashed 4px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}
