@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body{
  background-color: lime;
  background-image: url(https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg);
 /* border-image-width: 100% */
}

p{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 30px;
}

#text-box{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.App {
  text-align: center;
}
