.App {
  text-align: left;
  color: white;

  /* url(http://bdfjade.com/data/out/151/6527923-star-wars-wallpaper.jpg); */
}

.output{
  background-color: red;
}

body{
  background-image: url(https://georgespigot.files.wordpress.com/2010/10/star-wars-02.jpg);
}